.sticky-notes {
    position: sticky;
  }
  
  .box {
    padding-left: 5%;
    padding-top: 5%;
    width: 100%;
  }
  
  .date {
    font-size: 30px;
    text-decoration: solid black;
    justify-content: center;
    width: 12%;
  }
  
  .month {
    font-size: 15px;
    justify-content: center;
    width: 7%;
  }
  
  .year {
    font-size: 12px;
    justify-content: center;
    width: 7%;
  }
   
  .day {
    font-size: 15px;
    text-align: right;
    padding-right: 10%;
  }
  